asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.6.15
charset-normalizer==2.1.1
Django==4.1
django-admin-honeypot @ git+https://github.com/dmpayton/django-admin-honeypot.git@a840496d183df89965eeb33c9a5dd9ea3919dfff
django-ipware==4.0.2
django-session-timeout==0.1.0
idna==3.3
Pillow==9.2.0
pkg_resources==0.0.0
python-decouple==3.6
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.12
