container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_createsuperuser:
    command: "echo \"from accounts.models import Account; Account.objects.create_superuser('Jesus', 'Maximiliano', 'jesu1917@gmail.com', 'jprieto', 'Lochita22-')\" | python manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ecommerce.settings